/* 默认设置 */
body,
html {
	line-height: 1;
}
*,
::after,
::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
a,
a:focus,
a:hover {
	text-decoration:none;
}
.placeholder-r {
	text-align: right;
}
.placeholder-r::-webkit-input-placeholder { /* WebKit browsers */
	direction: rtl;
}
.placeholder-r::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	direction: rtl;
}
.placeholder-r::-moz-placeholder { /* Mozilla Firefox 19+ but I'm not sure about working */
	direction: rtl;
}
.placeholder-r::-ms-input-placeholder { /* Internet Explorer 10+ */
	direction: rtl;
}
/* 样式重置 */
body {
	/* 禁止页面文字选择,屏幕翻转时文字自动调整大小 */
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	/* 透明度设置为0，去掉点击链接和文本框对象时默认的灰色半透明覆盖层(iOS)或者虚框(Android) */
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
/* 禁用长按页面时的弹出菜单(iOS下有效) */
img,a { 
	-webkit-touch-callout:none; 
}
/* 常规样式设置 */
a { 
	background-color:transparent
}
main { 
	display: block;
}
img { 
	vertical-align: top;
}
textarea { 
	resize: none;
	overflow: auto;
}
button,
input {
	border: 0;
	outline: 0;
	/*清除移动端默认的表单样式*/
	-webkit-appearance:none;
}
/* 清浮动 */
.clearFix:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}
.clearFix {
    *zoom: 1;
}
/* 内联居中 */
.dv {
	display: inline-block;
	vertical-align: middle;

	*display: inline;
	*zoom: 1;
}
/* 内联 */
.di {
	display: inline-block;

	*display: inline;
	*zoom: 1;
}
/* 限定&清浮动 */
.cl {
	overflow: hidden;
	*zoom: 1;
}
/* 文本隐藏 */
.text-hide {
	border: 0;
	background-color: transparent;
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
}
/* 文字溢出 */
.text-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* 按钮 */
.btn {
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;

	*display: inline;
	*zoom: 1;
}
.btn:hover {
	text-decoration: none;
}
/* 提示框 */
.toast {
	position: fixed;
	z-index: 101;
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;
	display: none;
}
.toast-block {
	max-width: 80%;
	display: inline-block;
	line-height: 1rem;
	position: relative;
	top: 20%;
	margin: 0 auto;
	padding: 0 0.32rem;
	text-align: center;
	opacity: 0;
	background: rgba(0,0,0,.8);
	border-radius: .1rem;
}
.toast span {
	display: inline-block;
	font-size: .4rem;
	color: #fff;
}
/* 返回顶部 */
.to-top {
	display: none;
	position: fixed;
	width: 0.96rem;
	height: 0.96rem;
	right: 0.16rem;
	bottom: 3.6rem;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAYAAABV7bNHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4BpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDoyODNiZDg5Yy1jMDEwLTQ0NTEtYmQ2OC0yOWRkOWQyOTZjMWYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RThGMjJFNUFGMkVGMTFFOEI2RkFDMjlFRkNGQjg2NjYiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RThGMjJFNTlGMkVGMTFFOEI2RkFDMjlFRkNGQjg2NjYiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo2YzgyMzUzZi01ZDhhLTQ1ZGYtYWQ5Mi00NWM2MzI0MTllNzQiIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDo4Mjk3NWZkMy0zMjgxLTExN2MtYjg5NS1kMzM1MTIwODQyOWEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz767twNAAAG70lEQVR42uycW0ycRRTHBxa60GVLl4pcCix3EQSDbMslQqLxkiZtH5qgz/qgaR+MkQTRJmBKVhAQRMItEAi3FoUghZoajfGhWk2stqUVKOVSwFaNl6atFWmA9Rz2zLrdXZq9fZeFPck/sMvufN/5cWbmzMw34xMfH89ENF8QXjAOtJsUAVKDAkloS6Q7oF9A10lzoFnQmlg37CfCNR4C5YIeBz0GUtnxHQ4rBKS1+Ntd0GXQRdA3oL+EvHkfgSJoGygf9AwoDa8j0P1jJF0AfQU6C7ond0AYHQdA+0HBTFy7BToFGqUokxUgPwLzAiiISWvYbg0QqBVXC1NoNBpXy8gAvQMqoKoltSlBmXQ/C6DfpAKEN/IK6FXQDiY/w57xadBO0CXQqpiAsHsuB+0RsAF2SxMCSgLlUK93x5m8xFHD8H3fRvcrZ4sB1dK9CxpBT4HepOrlaeZP7dLvlHC6HdDzoNecjDq5GN57NiWXM+6sYk+Cjsi8vXGkXTpCPrkFEHbjRR4eObb8LiLfXAKEvdXbIo3ZxDY/8m23s4CwIX7LzsGlp5qKfFQ6A+hlD+vKnTUt+eoQoFTQPrZ1bB/5bBcgBejwJumxHOnZDpPvVg2VpeGoPNbVK+r1+kcKCwsTFAqFIL3f6urq2vDw8FxxcfGEm4qMJd+HHxRBKpqycNkOHToULxSc9TCHsg8ePBjn5mJftOyULB3YT6Ngl21oaGgW/8tCAYKyDSMjI3NuLjaIouj/umc2YYZzOZ0ynboQ026DXmI0fWseQfleOOu2g1hYVbFnvWxM9pwloNCN8oAtao8SExOgHKnznqSkpO2jo6O5cXFxATLJi3LNAe2R8m4QSk9PT05qauquvr6+3OjoaDlMyOk4IIWU1Ss2NjYAoYSGhm7H12FhYarjx4/nRkRESL1Cgkz8EFACk2gKNSoqSglwchCK+fuRkZFBJ06ckBoSMonnDxOIbug8wgkPDzctNE5PT99cW1sz4O9QzdTw92yILH8JIa0DihH7qhAx26Aa5UAEqS3aop3l5eXnOSStVhsMn8sOCQmRasJOi4AixLwiOouRERMTs56Uchg0vvLp7u6+UVVVdZG/D5n+ToSk0WikgBTmy/t7seBA25IDkRLM4VRUVFyw/FxbW9vPtbW1lwwGA08BNL29vXuDgoIUIgMK9RVreKFWqxUQOXsTExNxKZih8zU1NWMdHR3XbX2+ubl5ob6+3gQpJSUlBCJJbEjBCChQ6KugU+hccnJyCIdTV1c31trauvig7zU0NMy3tLT8xF+npaXtgnxJFxgYKNYKSwBeSNDMVaVSKaB66DAJ5HCampouNzY2LtjzfYiyOahy4/x1RkZGKEJSKpViQFr/T6wIVTo60dXVlZWenm5q5yBqxqF9ueZIOZWVlbNQzhX+OjMz8+HOzs4nxICEF1gSCg70SFnoDH8P2pvJ6urqWWfKO3bs2FVow6b46+zs7PD29vZM7PkE5POvYICgCmXodLow/hqq2ZRer592pczS0tKpgYEBUxl5eXkR0E6lCwhoCQHdFaLk/Pz8SP57f3//1bKysil3lFtSUjJ58uRJUxQWFBRECgjoFgL6U4iSccVhaWlpBavF0aNHr7iz7KKionGMJCwf574FBPQHzknjY3QHpBw2z8zM7Oe/JyQknGLysVMYQQvMaxvZPAKa9XLY0GY5oGUvCytb5oAwURz38rAyZLLCM9HvvTys7BzPpNG+w2GSl4nJkMW35oDw0dgJLxeTTRCT+1ZWP/dysWZhDugMMy7cb3W7TSysAOHTDKNePut7zu7ZAsQI0N9i3xE+62P+U0JD30fM37AEhCP7j8S+Kxx4Li8vrwwODs5IDOhjy9kNWzsOcVL8A+aG5xQ9zK6BXmcW+8psTVniB1q2WF5kIJ+tNt1tNKeLKwmntxCg0+QzsxcQWgdocQvAWSRfmaOAcDSrZwJNycrE7pKPy84AQsNVz3eZgEtDEtoK+Xb9QR+yZ11pjBn3qK5tIjjoSy35xlwFhPY1qGmT9GwG8uWMPR92ZM8qJnG/gvYyz919iN34h6Av7P2Co7ueMZnCJRzcGOvvYXD+oTbnrCNfciYSzoPeYJ61GrJA9/yjo1909uQFPMHgS2bc/JHI5Lu3zEBJYCXopjMFuHJ2B9bnc5SB4pPpapnBuQF6D/Qpc/LcDlcBccPTVT6jOp7MpD8BBpO/XlAdMx7v5ZK5AxDPKyYJFE424ZOzYm8pwAOWPgFVU37jlrxN6CO68DiLFCbsEV1j1B56xBFdtgwfoMKNIVnMeJ6Zq1XwHrV7P1Cy55GHvG1k+KwzXhD3qpsfE4hP2uJeDaXZQBnbtNvs/mMC55lxqVy0seF/AgwA/2Tf76xE73AAAAAASUVORK5CYII=) no-repeat center;
	background-size: cover;
}
/* 通用设置 */
.main {
	margin: 0 auto;
	width: 10rem;
}
/* 选中 */
.select-opt {
	display: inline-block;
	width: 0.587rem;
	height: 0.587rem;
	border: 0.02rem solid #eb6120;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 0.293rem 0.213rem;
	background-position: center center;
	border-radius: 50%;
}
.selected {
	background-color: #eb6120;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAYAAAAS7Y8mAAAAd0lEQVQ4je3SwQmAMBBE0bUDC7AGS/JiDYIlWIDlWIiHVCLC92AgEkLEON6c8+SxZLcyYYDGzBYz26Uo4DizfoE6P/mPhkIH9PJJgc0XJhnqiwMhWfzxnwLjHV68qBz+evspXHZSET5L7zTCNWgC16EXvAXqkrcHZ0JdGHyS/Q0AAAAASUVORK5CYII=");
}